[submodule "cs300-projects"]
	path = projects
	url = https://github.com/vic-shihang-li/cs300-projects.git
[submodule "cs61-sections"]
	path = cs61-sections
	url = https://github.com/cs61/cs61-sections.git
